.double-text-block {
  background-color: #dee2e6;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-inline: 10px;
}

.dtb-title {
  font-size: 20px;
  color: #212529;
}

.dtb-subtitle {
  color: #212529;
  opacity: 0.8;
  font-size: 12px;
}
