.button {
    height: 60px;
    width: calc(100% - 30px);
    border-radius: 5px;
}

.text {
    font-size: 24px;
    padding-left: 10px;
    padding-top: 7px;
}

.dark-mode {
    background-color: gray;
}