/* Group Form */
.group-form {
    background-color: #CED4DA;
}

/* Banner */
.gf-banner {
    background: linear-gradient(284deg, #212529 0%, rgba(0, 0, 0, 0.00) 100%);
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gf-banner-image {
    object-fit: cover;
    height: 50vw;
    width: 100%;
    background: linear-gradient(284deg, #212529 0%, rgba(0, 0, 0, 0.00) 100%);
}

/* Banner Placeholder */
.gf-banner-placeholder {
    height: 30px;
    width: 30px;
}

/* Profile */
.gf-profile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    right: 10px;
    top: calc(50vw - 50px);
    background-color: #DEE2E6;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    border-radius: 35px;
}

.gf-profile-image {
    object-fit: cover;
    height: 70px;
    width: 70px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    border-radius: 35px;

}

/* Profile Placeholder */
.gf-profile-placeholder {
    height: 30px;
    width: 30px;
}

/* Title Block */
.gf-title-block {
    background-color: #DEE2E6;
    padding-top: 15px;
    padding-bottom: 5px;
}

/* Title Input */
.gf-title-input {
    font-size: 20px;
    color: #212529;
    padding-left: 10px;
}

/* Group Type Selector Title */
.gf-group-type-selector {
    color: #212529;
    font-size: 12px;
    padding-left: 10px;
}

/* Data Block */
.gf-data-block {
    background-color: #CED4DA;
    padding-inline: 10px;
    min-height: calc(100% + 40px);
}

/* Location Block */
.gf-location-block {
    display: flex;
    align-items: center;
    padding-block: 17px;
}

/* Location Icon */
.gf-location-icon {
    width: 20px;
    height: 20px;
    margin-left: 2px;
}

/* Location Input */
.gf-location-input {
    padding-left: 5px;
}

/* Bottom Columns */
.gf-bottom-columns {
    display: flex;
    gap: 10px;
}
.gf-right-column{
    width: 100%;
}
/* Day List */
.gf-day-list {
    margin-top: -5px;
}

/* Day List Item */
.gf-day-list-item {
    background-color: #DEE2E6;
    border-radius: 2px;
    margin-block: 1px;
    font-size: 12px;
    color: #212529;
    opacity: .8;
    padding-block: 3px;
    text-align: center;
}

/* Selector */
.gf-selector {
    display: flex;
    padding-left: 10px;
    padding-right: 5px;
    padding-block: 3px;
    margin-block: 10px;
    background-color: #DEE2E6;
    border-radius: 2px;
    justify-content: space-between;
}

/* Selector Text */
.gf-selector-text {
    font-size: 12px;
    color: #212529;
    opacity: .8;
}

/* Image Group */
.gf-image-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    padding-bottom: 90px;
}

/* Image Add */
.gf-image-add {
    height: 80px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 48, 64, 0.5);
    border-radius: 2px;
}

/* Image Add Icon */
.gf-image-add-icon {
    height: 30px;
    width: 30px;
}

/* Image */
.gf-image {
    height: 80px;
    width: 120px;
    background-color: rgba(33, 48, 64, 0.5);
    border-radius: 2px;
}

/* Confirm Tab */
.gf-confirm-tab {
    position: fixed;
    height: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #DEE2E6;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
}

/* Confirm Tab Title */
.gf-confirm-tab-title {
    font-size: 16px;
    color: #212529;
}

/* Confirm Tab Subtitle */
.gf-confirm-tab-subtitle {
    font-size: 12px;
    color: #212529;
}

/* Confirm Button */
.gf-confirm-button {
    font-size: 16px;
    background-color: #212529;
    color: #F8F9FA;
    padding-block: 8px;
    padding-inline: 37px;
    border-radius: 5px;
}

/* Tab */
.gf-tab {
    background-color: #CED4DA;
    min-height: 100vh;
}

/* Header */
.gf-header {
    background-color: #DEE2E6;
    height: 64px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 7px;
    padding-right: 15px;
}

/* Header Title */
.gf-header-title {
    font-size: 16px;
    color: #212529;
    opacity: .8;
}

/* Add Service Button */
.gf-add-service-button {
    height: 26px;
    width: 26px;
    opacity: .8;
}

/* Add Professional Button */
.gf-add-professional-button {
    height: 26px;
    width: 26px;
    opacity: .8;
}

/* Sub Header */
.gf-sub-header {
    display: flex;
    gap: 5px;
    padding-inline: 10px;
    margin-block: 10px;
}

/* Sub Header Left */
.gf-sub-header-left {
    background-color: #DEE2E6;
    height: 25px;
    width: 60%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sub Header Button */
.gf-sub-header-button {
    background-color: #212529;
    color: #F8F9FA;
    text-align: center;
    width: 40%;
    padding-top: 6px;
    border-radius: 5px;
    font-size: 12px;
}

/* List */
.gf-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
    padding-inline: 10px;
    padding-bottom: 80px;
}

/* Button */
.gf-button {
    height: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    background-color: #DEE2E6;
    border-radius: 2px;
}

/* Selected Button */
.gf-button.selected {
    outline: #212529 .5px solid;
}

/* Button Title */
.gf-button-title {
    font-size: 14px;
    color: black;
}

/* Button Subtitle */
.gf-button-subtitle {
    font-size: 11px;
    color: #212529;
    opacity: .8;
}

/* Selection Circle */
.selection-circle {
    top: 5px;
    right: 5px;
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #CED4DA;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Selected Selection Circle */
.selection-circle.selected {
    background-color: #212529;
}

/* Selection Inner Circle */
.selection-inner-circle {
    height: 6px;
    width: 6px;
    background-color: #DEE2E6;
    border-radius: 3px;
}

/* Service Edit Button */
.gf-service-edit-button {
    font-size: 15px;
    color: #F8F9FA;
    background-color: #212529;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    left: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}

/* Day Carrousel */
.gf-day-carrousel {
    display: flex;
    overflow-x: auto;
    text-align: center;
    gap: 5px;
    padding-bottom: 10px;
    padding-top: 1px;
    padding-inline: 95px;
}

/* Hide Scrollbar */
.gf-day-carrousel::-webkit-scrollbar {
    display: none;
}

/* Day Carrousel Item */
.gf-day-carrousel-item {
    height: 40px;
    width: 85px;
    font-size: 12px;
    background-color: #DEE2E6;
    color: black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

/* Selected Day Carrousel Item */
.gf-day-carrousel-item.selected {
    outline: #212529 .5px solid;
}

/* Professional List */
.gf-professional-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-inline: 10px;
    padding-bottom: 80px;
    margin-top: 10px;
}