@keyframes fadeOut {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 0;
  }
}

.pf-warning {
  color: red;
  opacity: 0.6;
  text-align: center;
  width: 100px;
  font-size: 12px;
  animation: fadeOut 2s 1s forwards;
}
.pf-message {
  color: blue;
  opacity: 0.6;
  text-align: center;
  width: 100px;
  font-size: 12px;
  animation: fadeOut 2s 1s forwards;
}
