.login-header {
    display: grid;
    gap: 5px;
}

.login-header-title {
    max-width: 300px;
    font-size: 23px;
    color: var(--accent-light);
}

.login-header-subtitle {
    font-size: 15px;
    color: var(--secondary);
}