.professional-button {
  justify-content: space-between;
  height: 80px;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.pb-title-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
}

.pb-left-block {
  display: flex;
  gap: 5px;
  align-items: center;
}

.pb-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  padding: 0 !important;
}

.pb-title {
  font-size: 24px;
}

.pb-subtitle {
  font-size: 12px;
  padding: 0px !important;
  padding-inline: 10px !important;
  border-radius: 10px !important;
  align-items: center;

}

.pb-right-button-title {
  font-size: 12px;
  padding: 1px !important;
  padding-inline: 12px !important;
  align-items: center;
  font-size: 15px;
}