.header {
    background-color: #DEE2E6;
    height: 64px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 7px;
    padding-right: 15px;
}

.header-title {
    font-size: 16px;
    color: #212529;
    opacity: .8;
}

.header-icon {
    height: 26px;
    width: 26px;
    opacity: .8;
}