.sched-arrow {
    height: 15px;
    width: 15px;
}

.up {
    rotate: 90deg;
}

.down {
    rotate: -90deg;
}

.right {
    rotate: 180deg;
}

.left {
    rotate: 0deg;
}

.return-button {
    height: 40px;
    right: 40px;
    opacity: .8;
}

input {
    all: unset;
}

.hidden {
    display: none;
}

::placeholder {
    color: #212529;
}