.sched-arrow {
    height: 15px;
    width: 15px;
}

.up {
    rotate: 90deg;
}

.down {
    rotate: -90deg;
}

.right {
    rotate: 180deg;
}

input {
    all: unset;
}

::placeholder {
    color: #212529;
}