.hp-group-title-block {
  display: flex;
  justify-content: space-between;
  padding-inline: 10px;
  padding-bottom: 15px;
}

.hp-group-title {
  font-size: 18px;
}

.hp-sort-icon {
  height: 20px;
  width: 20px;
}
