.home {
    background-color: #E9ECEF;
}

.h-header {
    padding-inline: 15px;
    background-color: #CED4DA;
    margin-bottom: 5px;
}

.h-title {
    font-size: 18px;
    padding-top: 20px;
}

.h-subtitle {
    font-size: 12px;
    padding-bottom: 20px;
}

.h-searchbar-block {
    background-color: #DEE2E6;
    border-radius: 20px;
    height: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-inline: 10px;
    padding-block: 5px;
}

.h-search-icon {
    height: 25px;
    width: 25px;

}

.h-search-input {
    width: 100%;
    font-size: 21px;
}

.h-filter-icon {
    height: 20px;
    width: 20px;

}

.h-user-icon {
    height: 48px;
    width: 48px;
    border-radius: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.h-banner-block {
    padding-top: 10px;
    padding-inline: 10px;
    padding-bottom: 5px;
    background-color: #CED4DA;
}

.h-banner {
    background-color: #212529;
    height: 140px;
    width: 100%;
    border-radius: 10px;
}

.hb-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.hb-sort-icon {
    height: 20px;
    width: 20px;

}

.hb-list-title {
    font-size: 17px;
}