.s-form-infotab {
    display: grid;
    gap: 10px;
}

.s-form-infotab-bottom {
    gap: 10px;
}

.infotab-left-block {
    display: grid;
    gap: 10px;
}

.infotab-right-block {
    display: grid;
    align-content: center;
    justify-items: center;
    gap: 10px;
}