.submit-button {
    width: calc(100% - 30px);
    height: 40px;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    border-radius: 20px !important;
    z-index: 100;
}

.submit-button.selected {
    bottom: -40px;
}

.submit-button-title {
    font-size: 28px;
}