.submit-button {
    width: calc(100% - 40px);
    height: 40px;
    display: flex;
    border-radius: 20px;
    background-color: var(--secondary);
    text-align: center;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    left: 20px;
    right: 20px;
    transition: 300ms;
    position: sticky;
    box-shadow: 0px 3px 4px var(--accent-dark);
}

.button-hide {
    bottom: -40px;
    opacity: 0;

}

.title {
    color: var(--accent-dark);
}