.sub-header {
    display: flex;
    gap: 5px;
    padding-inline: 10px;
    margin-block: 10px;
}

.sub-header-left {
    background-color: #DEE2E6;
    height: 25px;
    width: 60%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-header-button {
    background-color: #212529;
    color: #F8F9FA;
    text-align: center;
    width: 40%;
    padding-top: 6px;
    border-radius: 5px;
    font-size: 12px;
}