.user-page {
    background-color: #CED4DA;
    height: 100vh;

}

.up-header {
    background-color: #DEE2E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

.up-return {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 5px;
    left: -5px;
}

.up-profile {
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.up-name-block {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-self: center;
}

.up-name {
    font-size: 18px;
    color: #212529;
}

.up-edit-button {
    height: 15px;
    width: 15px;
}

.up-email {
    font-size: 12px;
    color: #212529;
}

.up-item-list {
    display: grid;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    background-color: #CED4DA;
    padding-top: 20px;
    grid-template-columns: repeat(3, 100px);
}

.up-login-block {
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.up-login-button {
    background-color: #212529;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 200px;
}

.up-login-title {
    font-size: 18px;
    color: #CED4DA;
}

.up-login-icon {
    height: 30px;
    width: 30px;
}

.up-item {
    height: 120px;
    width: 100px;
    border-radius: 5px;
    background-color: #DEE2E6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.up-icon {
    height: 55px;
    width: 55px;
    padding-top: 10px;

}

.up-title {
    font-size: 16px;
    color: #212529;
}