.carousel {
  display: flex;
  overflow-x: auto;
  text-align: center;
  gap: 5px;
  margin-bottom: 10px;
  padding-block: 1px;
  padding-inline: 95px;
  margin-top: 10px;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  height: 40px;
  width: 85px;
  font-size: 12px;
  background-color: #dee2e6;
  color: black;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.carousel-item.selected {
  outline: #212529 0.5px solid;
}
