.service-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .service-button-selected {
    background-color: #ccc;
  }
  
  .service-button p {
    margin: 0;
    font-size: 16px;
  }
  
  .service-button .title {
    font-weight: bold;
  }
  
  .service-button .right-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .service-button .right-button:hover {
    background-color: #0069d9;
  }
  
  .service-button .right-button-title {
    font-weight: bold;
  }
  
  .service-button .right-button-side-text {
    font-size: 14px;
    margin-right: 6px;
  }
  
  .service-button .right-button-subtitle {
    font-size: 14px;
    margin-top: 6px;
  }
  
  .expansion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 12px;
  }
  
  .expanded-button {
    flex-basis: calc(50% - 12px);
    margin-bottom: 12px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .expanded-button-selected {
    background-color: #ccc;
  }
  
  .expanded-button p {
    margin: 0;
    font-size: 16px;
  }
  
  .expanded-button .expanded-title {
    font-weight: bold;
  }
  
  .expanded-button .expanded-right-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .expanded-button .expanded-right-button:hover {
    background-color: #0069d9;
  }
  
  .expanded-button .expanded-right-button-title {
    font-weight: bold;
  }
  
  .expanded-button .expanded-right-button-side-text {
    font-size: 14px;
    margin-right: 6px;
  }
  
  .expanded-button .expanded-right-button-subtitle {
    font-size: 14px;
    margin-top: 6px;
  }