.login-button {
    height: 55px;
    width: 210px;
    background-color: var(--secondary);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.title {
    font-size: 28px;
    color: var(--accent-dark);
    font-weight: 400;
}

.image {
    height: 48px;
    width: 48px;
}