.p-form {
    display: grid;
    justify-items: center;
}

.p-form-header {
    width: 100%;
    align-items: center;
    gap: 20px;
}

.p-form-tab-list {
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}