.sub-header {
  display: flex;
  gap: 5px;
  padding-inline: 10px;
  margin-block: 10px;
}

.sub-header-left {
  background: var(--platinum);
  height: 25px;
  width: 100%;
  border-radius: 2px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-header-button {
  background: var(--eerieBlack);
  color: var(--seasalt);
  width: 135px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
