.small-button {
    border-radius: 2px;
    text-align: center;
    background-color: #DEE2E6;
    padding-block: 3px;
    margin-block: 10px;
    font-size: 14px;
    color: #212529;
    opacity: .8;
    width: 100px;
}

.small-button.selected {
    outline: #212529 solid 1px;
    opacity: 1;
}