.auth-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 50px;
}

.logo {
    height: 130px;
    width: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 40px;
}

.header-text {
    display: flex;
    flex-direction: column;
    width: calc(100% - 80px);
    gap: 5px;
}

.header-title {
    color: var(--accent-light);
    font-size: 28px;
    width: 300px;
    margin-top: 15px;
}

.header-subtitle {
    color: var(--secondary);
    font-size: 20px;
    margin-bottom: 15px;

}