.link-button {
  display: flex;
  padding-left: 10px;
  padding-right: 5px;
  margin-block: 10px;
  height: 20px;
  background-color: #dee2e6;
  border-radius: 2px;
  justify-content: space-between;
  align-items: center;
}

.lb-title {
  padding-top: 2px;
  font-size: 14px;
  color: #212529;
  opacity: 0.8;
}
